@*@model IEnumerable<Library.Models.Reservation>*@
@model Library.Models.BookReservationModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@ViewBag.Empty

@*@foreach (var reservation in Model.Reservation)
    {

        @foreach (var book in Model.Book)
        {
            @Html.DisplayFor(model => reservation.IdBook == book.IdBook)
        }
       @foreach (var user in Model.User)
        {
            @Html.DisplayFor(model => reservation.IdUser == user.Id)
        }
    }*@




@foreach (var item in Model.Reservation)
    @foreach (var book in Model.Book)
        @foreach (var user in Model.User)
        {
            {
                {
                    <div class=" book">

                        @Html.DisplayFor(model => user.UserName) <br />
                        @Html.DisplayFor(model => book.Title) <br />
                        @Html.DisplayFor(model => item.ReservationDate) <br />
                    </div>
                }
            }
        }


    @*user id - @Html.DisplayFor(model => item.IdUser)*@