@model Library.Models.Book
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="form text-center">
    @using (Html.BeginForm("Edit", "Home", FormMethod.Post))
    {
        <div class="form-group">
            @Html.DisplayNameFor(model => model.Title)<br />
            <input type="text" asp-for="@Model.Title" style="width:50%" />
           @* @Html.EditorFor(model => model.Title, new { style = "width:50%" })<br />*@
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(model => model.Author)<br />
            @*@Html.EditorFor(model => model.Author, new { style = "width:50%" })<br />*@
            <input type="text" asp-for="@Model.Author" style="width:50%" />
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(model => model.ReleaseDate)<br />
            @*@Html.EditorFor(model => model.ReleaseDate,  new { htmlAttributes = "width:50%" })<br />*@
            <input type="date" asp-for="@Model.ReleaseDate" style="width:50%" />
            <span asp-validation-for="ReleaseDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(model => model.Description)<br />
            <textarea asp-for="@Model.Description" style="width:50%; height:100px" > </textarea> 
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <input type="submit" class="btn btn-primary" value="Zapisz" />
    }

</div>