@model IEnumerable<Library.Models.Book>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th> @Html.DisplayNameFor(model => model.Title) </th>
            <th> @Html.DisplayNameFor(model => model.ReleaseDate) </th>
            <th> @Html.DisplayNameFor(model => model.Author) </th>
            <th> @Html.DisplayNameFor(model => model.Description) </th>
            <th> Opcje </th>
            <th> Rezerwacje </th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <th> @Html.DisplayFor(model => item.Title) </th>
            <th> @Html.DisplayFor(model => item.ReleaseDate) </th>
            <th> @Html.DisplayFor(model => item.Author) </th>
            <th> @Html.DisplayFor(model => item.Description) </th>
             <th>
                @Html.ActionLink("Rezerwuj", "Book", "Home", new { id = item.IdBook })
                <br />
                @Html.ActionLink("Edytuj", "Edit", "Home", new { id = item.IdBook })
             </th>
             <th>
                @Html.ActionLink("Sprawdź rezerwacje", "Booked", "Home", new { id = item.IdBook })
             </th>
        </tr>
        }
    </table>
</div>
